<body id="landing_body">
  <header id="landing_header">
    <div class='branding'>
    Deskblox
    </div>
    <div class='login_box'>
      <div class='login_form'>
        <%= form_tag '/login' do %>
          Email: <%= text_field_tag :email %>
          Password: <%= password_field_tag :password %>
          <%= submit_tag "Login" %>
        <% end %>
      </div>
    </div>
  </header>
  <content>

  </content>
  <footer id="landing_footer">

  </footer>
</body>


