<% @widget_setting = UserWidgetSetting.where("user_id == ?", current_user.id).first %>

<div class="widget_settings_title">Widget Accounts</div>
<div class="widgets_container">
  <%= form_for @widget_setting, :method => "put" do |f| %>
    <table class="widgets_table">
      <tr>
      <td class="widgets_key">YouTube id:</td>
      <td class="widgets_value"><%= f.text_field(:youtube_url) %></td>
      </tr>
    </table>
    <div class="layout_update_button">
      <%= f.submit "Save Changes" %>
    </div>
  <% end %>
</div>
