<body id="settings_body">
<div id="settings_title">User Settings</div>
  <div id="layouts">
    <div class="widget_settings_title">Layout Options</div>
    <%= render "layout" %>
  </div>

<!-- <section id="user_settings">
<div id="widget_settings_title">Display Settings</div>
<br>
<%#= render "setting" %>
</section> -->

<!-- <section id="user_widget_settings">
<div id="widget_settings_title">Widget Settings</div>
<br>
<%#= render :partial => 'user_widget_setting', :object => UserWidgetSetting.where("user_id == ?", current_user.id) %>
</section> -->

<!-- <section id="back_button">
<%#= button_to "Back", '/blocks', :method => "get" %>
</section> -->
<%= console %>
</body>