<body id="settings_body">
  <div class='fake_header'>
    <div id="settings_title">User Settings</div>
    <div class="link_back">
      <%= link_to "Back", '/blocks', :method => "get" %>
    </div>
  </div>
  <%= render "layout" %>
  <%= render :partial => 'user_widget_setting', :object => UserWidgetSetting.where("user_id == ?", current_user.id) %>

</body>