<body id="settings_body">
  <div class='fake_header'>
    <div id="settings_title">User Settings</div>
    <div class="link_back">
      <%= link_to "Back", '/blocks', :method => "get" %>
    </div>
  </div>
  <%= render "layout" %>

<!-- <section id="user_settings">
<div id="widget_settings_title">Display Settings</div>
<br>
<%#= render "setting" %>
</section> -->

<!-- <section id="user_widget_settings">
<div id="widget_settings_title">Widget Settings</div>
<br>
<%#= render :partial => 'user_widget_setting', :object => UserWidgetSetting.where("user_id == ?", current_user.id) %>
</section> -->
</body>