<div class="centered">
  <div id="weather_title">
    <% forecast = category['Headline']['Category'].capitalize %>
    <%= forecast.split("_").join(" ") %>
  </div>
  <div class="weather_info">
    <div class="weather_key">High of:</div>
    <div class="weather_value">
      <%= temp_f_to_c(category['DailyForecasts'].first['Temperature']['Maximum']['Value']) %> &#8451
    </div>
  </div>
  <div class="weather_info">
    <div class="weather_key">Low of:</div>
    <div class="weather_value">
      <%= temp_f_to_c(category['DailyForecasts'].first['Temperature']['Minimum']['Value']) %> &#8451
    </div>
  </div>
</div>