
<div>
  <div>
    <strong id="weather_title">
      <%= category['Headline']['Category'] %>
    </strong></div>
  <div>high of:
    <strong>
      <%= ((category['DailyForecasts'].first['Temperature']['Maximum']['Value'] - 32) * 0.5556).round %>
      &#8451
    </strong></div>
  <div>low of:
    <strong>
    <%= ((category['DailyForecasts'].first['Temperature']['Minimum']['Value'] -32)* 0.5556).round %>
      &#8451
    </strong></div>

    </div>
</div>