
<div class="centered">
  <div>
    <strong id="weather_title">
      <%= category['Headline']['Category'] %>
    </strong>
  </div>
  <div>high of:
    <strong>
      <%= temp_f_to_c(category['DailyForecasts'].first['Temperature']['Maximum']['Value']) %> &#8451
    </strong>
  </div>
    <div>low of:
    <strong>
      <%= temp_f_to_c(category['DailyForecasts'].first['Temperature']['Minimum']['Value']) %> &#8451
    </strong>
  </div>
</div>