<div class='dashblox'>
  <div class="six_x_six">DateTime</div>
  <div class="six_x_six">Weather</div>
  <div class="twelve_x_two">News: World</div>
  <div class="twelve_x_two">News: Local</div>
</div>


