
<div class='dashblox'>
  <div class="six_x_six">
    <% time_now = DateTime.current() %>
    <div class='blox_datetime'>
      <div id="time">_</div>
      <div id="date">
        <%= time_now.strftime("%A, %B %e %Y") %>
      </div>
    </div>
  </div>
  <% category = type_check %>
  <div class="six_x_six" id="<%= category['Headline']['Category'] %>" >
  <%= render :partial => "block_weather", :locals => {:category => category} %>
  <div class="twelve_x_two">News: World</div>
  <div class="twelve_x_two">News: Local</div>
</div>


