// Place all the styles related to the blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashblox {
  overflow:auto;
  height: 100vh;
  background-color:#0b2856;
}

.base_block {
  border-style: solid;
  border-radius: 5px;
  border-color: #1f2d42;
  background:#555;
  margin:1%;
  float:left;
}

.six_x_six {
  @extend .base_block;
  width: 48vw;
  height:30vw;
}

.twelve_x_two {
  @extend .base_block;
  width: 98vw;
  height:10vw;
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#time {
  text-align: center;
  color: aliceblue;
  font-size: 7vw;
}

#date {
  text-align: center;
  font-size: 2vw;
  color: darkcyan;
}

#weather_title {
  border-bottom: 0.5vw solid;
  font-weight: 500;
  width: 80%;
  margin-left: 10%;
}

.weather_info {
  display: block;
}

.weather_key {
  display: inline-block;
  font-weight: 500;
}

.weather_value {
  display: inline-block;
}

.base_weather {
  background-size: cover;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 5vw;
}

#weather.thunderstorm {
  @extend .base_weather;
  color: white;
  background-image: url(thunderstorm.jpeg);
}

#weather.cloudy {
  background-image: url(cloudy.jpg);
  color: midnightblue;
  @extend .base_weather;
}

#weather.rain {
  @extend .base_weather;
  color: aliceblue;
  background-image: url(rain.jpeg);
}

#weather.partly_cloudy {
  @extend .base_weather;
  color: indigo;
  background-image: url(partly_cloudy.jpeg);
}

#weather.sunny {
  @extend .base_weather;
  color: midnightblue;
  background-image: url(sunny.jpeg);
}

#weather.snow {
  @extend .base_weather;
  color: midnightblue;
  background-image: url(snow.jpeg);
}

#weather.fog {
  @extend .base_weather;
  color: indianred;
  background-image: url(fog.jpeg);
}

#weather.sleet {
  @extend .base_weather;
  color: cornsilk;
  background-image: url(sleet.jpeg);
}

#dropdownMenu2 {
  background-color: aliceblue;
  margin-left: 96%;
}

#drop_down_div.dropup.theme_1{
  background-color:#0b2856;

}

#settings1 {
  margin-right: 1vw;
}

#theme_pick {
  margin-left: -8.29vw;
  margin-bottom: -3vw;
  padding: 0px;
}

.theme_picker {
  border: none;
  width: 100%;
}

#pick_theme_1 input{
  background-color:#0b2856;
  color: aliceblue;
  width: 100%;
}

#pick_theme_2 input{
  background-color: white;
  color: black;
  width: 100%;
}

#pick_theme_3 input{
  background-color: black;
  color: gold;
  width: 100%;
}

#pick_theme_4 input{
  background-color: pink;
  width: 100%;
}


#datetime {
}

#datetime.theme_2 {
  background-image: url(dayclock.jpeg);
}

#datetime.theme_3 {
  background-image: url(nightclock.jpeg);
}

#datetime.theme_4 {
  background-image: url(wackyclock.jpeg);
}

.theme_2 {
  background-color: black;
  color: white;
}

.dashblox.theme_2 {
  background-color: #ffffff;
}

.theme_3 {
  background-color: black;
  color: black;
}

.dashblox.theme_3 {
  background-color: #000000;
}

.theme_4 {
  background-color: darkcyan;
  color: black;
}

.dashblox.theme_4 {
  background-color: orange;
}