// Place all the styles related to the blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashblox {
  overflow:auto;
  width: 100vw;
  height:100vw;
  background-color:#0b2856;
}

.base_block {
  border-style: solid;
  border-radius: 5px;
  border-color: #1f2d42;
  background:#555;
  margin:1%;
  float:left;
}

.six_x_six {
  @extend .base_block;
  width: 48vw;
  height:30vw;
}

.twelve_x_two {
  @extend .base_block;
  width: 98vw;
  height:10vw;
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#time {
  text-align: center;
  color: aliceblue;
  font-size: 7vw;
}

#date {
  text-align: center;
  font-size: 2vw;
  color: darkcyan;
}

.base_weather {
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 4.5em;
}

#thunderstorm {
  @extend .base_weather;
  background-image: url(thunderstorm.jpeg);
}

#cloudy {
  background-image: url(cloudy.jpg);
  @extend .base_weather;
}

#rain {
  @extend .base_weather;
  background-image: url(rain.jpeg);
}

#partly_cloudy {
  @extend .base_weather;
  background-image: url(partly_cloudy.jpeg);
}

#sunny {
  @extend .base_weather;
  background-image: url(sunny.jpeg);
}

#snow {
  @extend .base_weather;
  background-image: url(snow.jpeg);
}

#fog {
  @extend .base_weather;
  background-image: url(fog.jpeg);
}

#sleet {
  @extend .base_weather;
  background-image: url(sleet.jpeg);
}

#weather_title {
  border-bottom: 1px solid;
}

#main_login {
  float: right;
background: coral;
width: 100%;
position: absolute;
top: 0;
height: 4em;
}

#main_login strong {
  position: relative;
  top: 10%;
  font-size: 2em;
  left: 50%;
}

#main_login form {
  float: right;
  padding-top: 1vw;
  padding-right: 1vw;
}

#main_register {
  background: cornflowerblue;
  float: right;
  margin-top: 20%;
  margin-right: 10%;
  width: 30%;
}

#user_email {
  float: right;
}

#user_password {
  float: right;
}

#user_password_confirmation {
  float: right;
}