#settings_body {
  background-color: black;
  background-image: url(settings-wallpaper.jpg);
  background-size: cover;
}

#settings_title {
  font-size: 3vw;
  color: lightyellow;
  display: inline-block;
  padding-left: 4vw;
}

.widget_settings_title {
  font-size: 2vw;
  margin-left: 12vw;
  border-bottom: 0.1vw solid;
  color: lightyellow;
  width: 75vw;
}

.widgets_container {
  display: block;
  margin: 1vw 12vw;
}

.widgets_table {
  border-style: solid;
  background: black;
  margin: 0vw auto;
}

.widgets_key {
  padding: 1vw;
  color: aliceblue;
  font-size: 1.5vw;
}

.widgets_value {
  padding: 1vw;
  font-size: 1.5vw;
}

.fake_header {
  display: block;
  border-bottom: 0.2vw solid;
  color: cornsilk;
}

.link_back {
  display: inline-block;
  float: right;
  color: aliceblue;
  padding: 0.7vw 4vw;
  font-size: 2vw;
}


// Layouts

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.layout_button
{
  text-align: center;
  color: firebrick;
  font-size: 1.5vw;
  padding-top: 0.5vw;
}

.layout_container {
  display: block;
  margin: 1vw 12vw;
}

.layout_option {
  display: inline-block;
}

.layout_img {
  width: 25vw;
  padding: 0vw 1vw;
}

.layout_update_button {
  padding: 1vw;
  font-size: 1.5vw;
  margin-left: 32vw;
}